@import 'tailwindcss';

@font-face {
	font-family: 'Grafmassa';
	src: url('/fonts/Grafmassa-Regular.ttf') format('ttf');
	font-weight: 900;
	font-style: normal;
}

@layer base {
	html {
		font-family: 'Orbitron', system-ui, sans-serif;
		font-weight: black;
	}
}

@utility container {
	margin: 0 auto;
	max-width: 1400px;
}

body {
	cursor: url('/cursor.png'), default;
}

.btn-shadow-drop {
	position: relative;
	left: 0;
	top: 0;
	transition: 0.3s ease-in-out;
}

.btn-shadow-drop:hover {
	left: 4px;
	top: 4px;
	box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px !important;
}

.btn-shadow-drop:hover,
.hero-contact:hover {
	cursor: url('/cursor_hover_2.png'), pointer;
}
